################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Day1/bin/Debug/netcoreapp3.1
/Day1/obj
/Day2/bin/Debug/netcoreapp3.1
/Day2/obj
